.main {
    background-color:#F5F5F5;
    margin:0px;
    padding:0px;
}

/* main body */
.css-1y4p8pa {
    width: 100%;
    padding: 2rem 1rem 5rem 1rem;
    max-width: 80rem;
}
.styles_terminalButton__3xUnY {
    display: none;
}
#manage-app-button {
    display: none;
}

/* Navigation bar */
.css-18ni7ap {
    display: none;
}
#stHeader {
    display: none;
}

/* footer */
/* .css-h5rgaw {
    color: rgba(49, 51, 63, 0.4);
    font-size: 14px;
    height: 2.5rem;
    max-width: 80rem;
    padding: 0.5rem 1rem 2rem 1rem;
    width: 100%;
}
/* @media (min-width: 576px){ */
    .css-h5rgaw {
        padding-left: 1rem;
        padding-right: 1rem;
    }
} */

