.main {
    background-color:#F5F5F5;
    margin:0px;
    padding:0px;
}
.css-1y4p8pa {
    width: 100%;
    padding: 6rem 1rem 10rem 1rem;
    max-width: 90rem;
}
.styles_terminalButton__3xUnY {
    display: none;
}

/*top right menu*/
/* .css-14xtw13 {
    display: none;
} */

/* Navigation bar */
.css-18ni7a {
    display: none;
}